<nav class="nav-bar">
  <ul>
    <li>
      <a class="link-header" href="/" title="Home page">Home</a>
    </li>
    <li>
      <a class="link-header" href="#">Custom</a>
    </li>
    <li>
      <a class="link-header" href="#">Sedan</a>
    </li>
    <li>
      <a class="link-header" href="#">SUV</a>
    </li>
    <li>
      <a class="link-header" href="#">Truck</a>
    </li>
  </ul>
</nav>
